.search.text,
.search.skus,
.image,
.sku,
.price,
.name,
.ex {
    display: none;
}
.on {
    display: table-cell!important;
}
.menu a { padding-left: 4em; }
.menu .count {color: red;}
.contentlist .order { padding-left: 1em; padding-right: 1em;}
.contentlist p.canceled {visibility: hidden;}
.contentlist tr.canceled p.canceled {visibility: visible;}
.contentlist tr.canceled {background-color: lightgray;}
.contentlist tr.ready_to_ship td.index {background-color:gold;}
.nowrap {
    white-space: nowrap;
}
.padding,
.pagenumber {
	padding: 5px;
}
.pagenumber.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
  color: red;
}
.grouped {
	background-color: #EEE;
}