.search.text,
.search.skus,
.image,
.sku,
.name,
.ex,
.hide,
.editmode{
    display: none;
}
.on {
    display: table-cell!important;
}
.menu a { padding-left: 4em; }
.menu .count {color: red;}
.ordersList .order { padding-left: 1em; padding-right: 1em;}
.ordersList tr.ready_to_ship td.have_background {background-color:lightgreen;}
.ordersList p.canceled {text-decoration: line-through;}

.canceledList p.canceled {text-decoration: line-through;}
.canceledList tr.canceled {background-color: lightgray;}

.nowrap {
    white-space: nowrap;
}
.padding,
.pagenumber {
	padding: 5px;
}
.selected,
.padding.disabled,
.pagenumber.disabled {
  opacity: 0.8;
  cursor: default;
  color: red;
  font-weight: bold;
}
.grouped.child {
	background-color: #EDA;
}
.grouped.parent {
  background-color: #e6cc7f;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  color: red;
}
.floating-bar{
  position: fixed;
  top: 0;
  left: 200px;
  overflow: hidden;
  background-color: #FFF;
  width: 100%;
  z-index: 11;
}
iframe{
  resize: both;
}